.buttonComponent {
  border-radius: 100px;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;

  &__type {
    &_login {
      background-color: $color-black;
      color: $color-white;
    }
    &_primary {
      background-color: $color-light-gray;
      color: $color-black;
    }
  }

  &__size {
    &_small {
      padding: 6px 16px;
      font-size: 14px;
      font-weight: 400;
      gap: 6px;
    }
    &_medium {
      padding: 12px 20px;
      font-size: 16px;
      gap: 12px;
    }
    &_large {
      padding: 14px 28px;
      font-size: 18px;
      gap: 16px;
    }
  }
}
