$color-black: #000;
$color-black-shadow: #00000040;
$color-white: #fff;
$color-page-bg: #f5f5f5;
$color-page-bg-dark: #eaeaea;
$color-light-blue: #deebff;
$color-green: #6a9a04;
$color-rich-red: #9a0d04;
$color-gray: #aaa;
$color-light-gray: #d9d9d9;
$color-yellow: #fbf4bb;

$small-width: 440px;
$mid-width: 768px;
$large-width: 1024px;
